@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');


h1, h2, h3, h4, h5, h6 {
	margin-bottom: 15px;
	font-weight: bold;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

.required {
	color: $red;
}
